* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #37414211;
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem auto;
}

#listTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 35px;
    height: 10vh;
}

#nomPrenom1,
#numero1 {
    color: #333;
    font-size: 18px;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
}



/* ---------------------hamburgerMenu-------------------------------- */

select {
    display: block;
    margin: 1rem auto;
    width: 250px;
    padding: 1rem 1rem;
    font-size: 0.9rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    background: white;
    appearance: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23333" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;

}

select:hover {
    border-color: blueviolet;
}

select:focus {
    outline: none;
    border-color: purple;
}

.page-container {
    width: 90%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
    text-align: center;
}

/* Anim apparition hamburgerMenu */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* nombrescontacts */

.page-container {
    padding: 0;
}

.page-container h1,
.page-container h2 {
    margin: 1rem;
}




/* form */


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

input[type="text"],
input[type="number"] {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
}

#monBoutonValider {
    display: flex;
    background: red;
    color: white;
    border: none;
    margin: 0.8rem auto 0 auto;
    width: auto;
    min-width: 120px;
    margin-top: 0.8rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}

#monBoutonValider:hover {
    background: blue;
}